{% extends "layout.html"%}
{%block content%}
{% for farm in farms %}
<h1 class="ui huge header" style="font-size: 75px; margin: auto; text-align: center;">Farms Near You</h1>


<pre>
<h1  class="ui huge header">{{farm.farmname}}
<div class="sub header" style="color: black">
About Us: {{farm.about}}
Type: {{farm.farmtype}}
Registered Since: {{farm.date_created}}
</div></h1>
<div class="ui primary button" id = {{farm.id}}maps style="float: left; background-color: black; color: white;">View on Maps</div> 
<br/>
<hr>
</pre>
<script>
    id_num = {{farm.id}}
    id_num = id_num.toString()
    id = id_num.concat('maps')
    unique_url = `window.location.href =  '/maps/`.concat(id_num,`'`)
    button = document.getElementById(id)
    button.setAttribute('onclick',unique_url)
</script>

{% endfor %}
{%endblock content%}