{% extends "layout.html"%}
{%block content%}

<div id="title">
    <br/>
    <div class="sizer">
        <div style="font-size: 100px; margin: auto; text-align: center;" class="ui huge header">موقع المزرعة
        </div>
        <div class="ui small header" style="text-align: center; font-size: 20px;">
            البحث عن المنتجات الطازجة والمحلية والعضوية ومبيدات الآفات بالقرب منك!
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="ui three column middle aligned relaxed fitted stackable grid">
        <div class="column">
            <h2 class="ui header">
                <i class="location arrow icon"></i>
                <div class="content">
                    إنتاج الطازجة حول منطقتك
                </div>
              </h2>
              <div class="ui small header" style="text-align: center; font-size: 20px;">
                البحث عن المنتجات الطازجة والمحلية والعضوية ومبيدات الآفات بالقرب منك!
        </div>
        </div>
        
        <div class="column">
            <h2 class="ui header">
                <i class="world icon"></i>
                <div class="content">
                    المزيد من التواصل للمزارعين
                  
                </div>
                
              </h2>
              <div class="ui small header" style="text-align: center; font-size: 20px;">
                يمكن للمزارعين الاشتراك لنشر مزارعهم والمواد الغذائية التي ينتجونها!
        </div>
        </div>
        <div class="column">
            <h2 class="ui header">
                <i class="food icon"></i>
                <div class="content">
                    تعرف على السبب في مسائل الإنتاج العضوي                  
                </div>
                
            </h2>
            <div class="ui small header" style="text-align: center; font-size: 20px;">
                تعرف على سبب أهمية المنتجات الطازجة وما تقدمه المزارع!
        </div>
        </div>
      
    </div>
</div>

{% endblock content%}

<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
  }
  </script>
  
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>