{% extends "layout.html"%}
{%block content%}

<div id="title">
    <br/>
    <div class="sizer">
        <div style="font-size: 100px; margin: auto; text-align: center;" class="ui huge header">Farm Website</div>
        <div class="ui small header" style="text-align: center; font-size: 20px;">
                Find fresh, local, organic, and pesticide free produce near you!
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="ui three column middle aligned relaxed fitted stackable grid">
        <div class="column">
            <h2 class="ui header">
                <i class="location arrow icon"></i>
                <div class="content">
                  Fresh Produce Around Your Area
                </div>
              </h2>
              <div class="ui small header" style="text-align: center; font-size: 20px;">
                Find fresh, local, organic, and pesticide free produce near you!
        </div>
        </div>
        
        <div class="column">
            <h2 class="ui header">
                <i class="world icon"></i>
                <div class="content">
                  More Outreach for Farmers
                  
                </div>
                
              </h2>
              <div class="ui small header" style="text-align: center; font-size: 20px;">
                Farmers can sign up to spread their farm and food they produce!
        </div>
        </div>
        <div class="column">
            <h2 class="ui header">
                <i class="food icon"></i>
                <div class="content">
                  Learn About Why Organic Produce Matters
                  
                </div>
                
            </h2>
            <div class="ui small header" style="text-align: center; font-size: 20px;">
                Learn why fresh produce matters and what farms offer it!
        </div>
        </div>
      
    </div>
</div>

{% endblock content%}