{% extends "layout.html"%}
{%block content%}

<div id="title">
    <br/>
    <div class="sizer">
        <div style="font-size: 100px; margin: auto; text-align: center;" class="ui huge header">Sitio web de la granja
        </div>
        <div class="ui small header" style="text-align: center; font-size: 20px;">
            ¡Encuentra productos frescos, locales, orgánicos y libres de pesticidas cerca de ti!
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="ui three column middle aligned relaxed fitted stackable grid">
        <div class="column">
            <h2 class="ui header">
                <i class="location arrow icon"></i>
                <div class="content">
                    Productos frescos alrededor de su área
                </div>
              </h2>
              <div class="ui small header" style="text-align: center; font-size: 20px;">
                ¡Encuentra productos frescos, locales, orgánicos y libres de pesticidas cerca de ti!        </div>
        </div>
        
        <div class="column">
            <h2 class="ui header">
                <i class="world icon"></i>
                <div class="content">
                    Más alcance para los agricultores                  
                </div>
                
              </h2>
              <div class="ui small header" style="text-align: center; font-size: 20px;">
                ¡Los agricultores pueden inscribirse para difundir su granja y los alimentos que producen!        </div>
        </div>
        <div class="column">
            <h2 class="ui header">
                <i class="food icon"></i>
                <div class="content">
                    ¡Aprenda acerca de por qué los productos orgánicos importan                  
                </div>
                
            </h2>
            <div class="ui small header" style="text-align: center; font-size: 20px;">
                ¡Aprenda por qué los productos frescos son importantes y qué ofrecen las granjas!        </div>
        </div>
      
    </div>
</div>

{% endblock content%}

<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
  }
  </script>
  
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>